.imageWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imageWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    var(--background_03) 50%,
    var(--background_03) 100%
  );
  z-index: 1;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background_03);
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
